
.SideButtons {
    display: flex;
    flex-direction: column;
    height: 100vw;
    width: 20%;
    padding: 0 15px;
}

.SideButtons .resetBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    margin-top: 200px;
    border-radius: 10px 10px 0 0;
    border: none;
    background-color: #ffb327;
    color: #2e2e2e;
    font-size: 1.5vw;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
}

.SideButtons .resetBtn:hover {
    background-color: #ffc965;
}

.SideButtons .resetBtn:active {
    background-color: #fff;
}

.SideButtons .turno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 150px;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 0 0 10px 10px;
    font-size: 1.4vw;
    margin-top: 10px;
}

.SideButtons .turno div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 80%;
    font-size: 5vw;
    border-top: 1px solid #fff;
}

.SideButtons .info {
    height: 50px;
    width: 50px;
    margin-top: 10px;
    border: 1px solid #fff;
    border-radius: 100%;
    font-size: 2em;
    background-color: #1a1a1a;
    transition: 0.2s;
    cursor: pointer;
}

.SideButtons .info:hover {
    background-color: #fff;
    color: #1a1a1a;
}

.SideButtons .comoJogar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 90vh;
    width: 90vw;
    background-color: #1a1a1a;
    border: 1px solid #fff;
    border-radius: 10px;
    z-index: 3;
}

.SideButtons .fechar {
    height: 50px;
    width: 50px;
    font-size: 2em;
    font-weight: bold;
    align-self: flex-end;
    cursor: pointer;
    border: none;
    border-radius: 0 10px 0 10px;
    background-color: #ffb327;
    color: #1a1a1a;
    transition: 0.2s;
    cursor: pointer;
}

.SideButtons .fechar:hover {
    background-color: #1a1a1a;
    color: #ffb327;
    border: 1px solid #ffb327;
}

.SideButtons .texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    width: 100%;
    text-align: center;
}

.SideButtons .texto h3 {
    font-size: 2em;
}

.SideButtons .texto div {
    margin-top: 30px;
}


@media screen and (max-width: 500px) {
    
    .SideButtons {
        flex-direction: row;
        height: 15%;
        width: 100vw;
        margin-top: 5vh;
        padding: 15px;
    }

    .SideButtons .resetBtn {
        height: 100%;
        width: 56%;
        margin-top: 0;
        border-radius: 10px 0 0 10px;
        font-size: 7vw;
    }

    .SideButtons .turno {
        height: 100%;
        width: 40%;
        margin-top: 0;
        margin-left: 4%;
        font-size: 3vw;
        border-radius: 0 10px 10px 0;
    }

    .SideButtons .turno div {
        font-size: 5vw;
    }

    .SideButtons .info {
        position: fixed;
        bottom: 10px;
        right: 10px;
    }
}
